/* Base Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Layout */
.features-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 160px 0;
}

.left-column,
.f-d-column,
.reverse {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.reverse {
  flex-direction: column-reverse;
  padding-top: 20px;
}

.right {
  padding: 0 60px;
}

/* Feature Section Card */
.iphone-15pro {
  background: linear-gradient(360deg, #014220, #1DFC87, #C3FEDF);
  opacity: 0.77;
  width: 100%;
  max-width: 630px;
  height: 624px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.linear-gradient {
  background: linear-gradient(360deg, #9A8C0A, #F2DF2F, #9A8C0A);
}

/* Text Sections */
.heading-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 60px;
  width: 100%;
  max-width: 624px;
  height: 294px;
}

.top-feature {
  width: 100%;
  max-width: 552px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #4B5563;
}

.heading-textt {
  padding: 0 20px 0 50px !important;
}

.describe-the-feature {
  width: 100%;
  max-width: 552px;
  font-family: 'Rethink Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  color: #111827;
}

.a-paragraph-text {
  width: 100%;
  max-width: 550px;
  font-family: 'Rethink Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #4B5563;
}

/* Buttons */
.learn-more-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #90BF6F;
  color: #4B5563;
  padding: 20px;
  max-width: 147px;
  height: 42px;
  border-radius: 10px;
}

.fa-arrow-left {
  width: 15.53px;
  height: 13.13px;
  color: #5F7351;
}

/* Media Queries */
@media screen and (max-width: 1275px) {
  .features-section {
    padding: 80px 0;
    gap: 70px;
    margin: 0 auto;
    justify-content: center;
  }

  .iphone-15pro {
    max-width: 305px;
    height: 475px;
  }

  .describe-the-feature {
    font-size: 24px !important;
  }

  .a-paragraph-text {
    font-size: 16px !important;
    max-width: 335px;
  }
  .learn-more-btn{
    margin-top: 5rem;
  }

  .f-d-column,
  .reverse {
    flex-direction: column-reverse;
  }

  .f-d-column {
    gap: 45px;
  }

  .reverse {
    gap: 20px !important;
  }

  .heading-text,
  .heading-textt {
    padding: 0;
    gap: 65.27px !important;
  }

  .heading-textt {
    margin-bottom: 1rem;
  }

  .feature-text {
    display: flex;
    flex-direction: column;
    height: 147.27px !important;
    gap: 10.63px !important;
  }
}

@media screen and (max-width: 768px) {
  .iphone-15pro {
    margin: 0 auto;
  }
}
