.privacy-img {
    background-image: url('../../assets/privacy-image.jpg');
}

.contact-veildigits {
    display: flex;
    flex-direction: column;
    padding: 186px 78px;
    gap: 60px;
}

@media screen and (max-width: 768px) {
    .contact-veildigits {
        padding: 256px 28px;
    }
}

@media screen and (max-width: 440px) {
    .contact-veildigits {
        gap: 20px;
    }
}