*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.stats-section{
    display: flex;
    flex-direction: column;
    gap: 200px;
    width: 100%;
    height: auto;
    padding: 96px 0px 96px 78px;
    background-color: #0F281B;
}

.build-something-great{
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: 158px;
}
.launch-faster{
    width: 100%;
    max-width: 768px;
    height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #EAECF0;

}
.stats-header{
    width: 100%;
    max-width: 768px;
    height: 42px;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -2%;
    color: #FFFFFF;
}
.everything-you-need{
    width: 100%;
    max-width: 768px;
    height: 60px;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #EAECF0;
}
.stats-achievement{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    gap: 96px;
    width: 100%;
    height: auto;
}
.stats-achievement-text{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 592px;
    height: 376px;
    gap: 64px;
}
.stats-achievement-top-text{
    display: flex;
    gap: 32px;
    width: 100%;
    height: 156px;
}
.global-downloads{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 280px;
    height: 156px;
    gap: 12px;
}
.fourty-thousand{
    width: 100%;
    max-width: 280px;
    height: 60px;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -2%;
    color: #FFFFFF;
    text-align: center;
}
.global-downloads-para{
    width: 100%;
    max-width: 280px;
    height: 28px;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}
.global-text{
    width: 100%;
    max-width: 280px;
    height: 48px;
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #EAECF0;
    text-align: center;
}
.earpiece{
    width: 100%;
    height: 90%;
}
  /* Responsive styles */
@media screen and (max-width: 1024px) {
    .stats-section{
        display: flex;
        flex-direction: column;
        padding: 48px 20px 48px 20px;
        gap: 64px;
    }
    .build-something-great{
        display: flex;
        gap: 10.63px;
    }
    .stats-header{
        font-size: 24px;
    }
    .everything-you-need{
        font-size: 14px;
    }
    .mobile-break {
        display: none !important;
    }
    .stats-achievement{
        display: flex;
        flex-direction: column;
        gap: 35.92px;
    }
    .stats-achievement-text{
        display: flex;
        gap: 23.95px;
    }
    .stats-achievement-top-text{
        display: flex;
        width: 100%;
        gap: 12px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .global-downloads{
        width: auto;
        gap: 8px;
    }
    .fourty-thousand{
        font-size: 14px;
    }
    .global-downloads-para{
        font-size: 10px;
    }
    .global-text{
        font-family: none;
        font-size: 8px;
    }
    .stats-achievement-img{
        width: 100%;
    }
    .earpiece{
        height: auto;
    }
    
}
@media screen and(max-width: 375px){
    .stats-section{
        padding: 0px !important;
    }
    .build-something-great{
        width: 100%;

    }
    .everything-you-need{
        display: flex;
        flex-wrap: wrap !important;
        width: 100% !important;
        font-size: 7px;
    }
    .stats-achievement-text{
        display: flex;
        gap: 13.95px;
        flex-wrap: wrap;
    }
    .stats-achievement-top-text{
        display: flex;
        width: 100%;
        gap: 0px;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
