.pricing-card {
    background: linear-gradient(to bottom, #FFFFFF 20%, #3A8E63, #6DB48F);
    width: 100%;
    height: auto;
    padding-bottom: 2.5rem;
    overflow: hidden;
}

.pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 80px;
}

.hero-top-section {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 80px;
}

.announcing-launch,
.hero-paragraph {
    border-radius: 10px;
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.announcing-launch {
    background-color: #e6f2de1f;
}

.hero-paragraph {
    height: 58px;
    background-color: #e6f2de;
    margin: 0;
}

.veil-your-digits-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.veil-your-digits-heading-texts {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    text-align: center;
    color: #0f281b;
}

.hero-bottom {
    display: flex;
    flex-direction: column;
    height: 741px;
    gap: 32px;
}

.subscription {
    display: flex;
    justify-content: center;
}

.subscription-type {
    display: flex;
    width: 216px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #cfe6bf;
    padding: 2px;
    background-color: #7cbb9a;
}

.monthly-subscription,
.anual-subscription {
    display: flex;
    gap: 8px;
    width: 104px;
    height: 44px;
    border-radius: 100px;
    padding: 11px 24px;
    color: #111827;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    cursor: pointer;
}

.anual-subscription {
    background-color: #7cbb9a;
}

.subscription-section {
    display: flex;
    height: 661px;
    gap: 15px;
    width: 100%;
}

.free-plan,
.premium-plan-best-deal {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 408.67px;
    transition: transform 0.3s ease, max-width 0.3s ease;
}

.premium-plan-best-deal {
    height: 680px;
}

.free-plan {
    height: 600px;
}

.free-plan:hover,
.premium-plan-best-deal:hover {
    transform: scale(1.05);
    will-change: transform;
}

.sub-free-plan {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.free-plan-top-section {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.top-sub-section {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.free-btn,
.Organisation-btn {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px 15px;
    gap: 10px;
    background-color: #5f7351;
}

.free-btn {
    max-width: 66px;
    height: 35px;
}

.Organisation-btn {
    max-width: 132px;
    height: 35px;
}

.Free,
.Organisation {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.For-occasional {
    font-family: 'Rethink Sans', sans-serif;
    text-wrap: nowrap;
    font-size: 16px;
    color: #71717a;
}

.free-plan-middle-section {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e7eb;
}

.free-plan-middle-horizontal,
.Organisation-plan-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.free-plan-middle-horizontal {
    width: 129px;
    height: 53px;
}

.free-plan-middle-section h3 {
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #18181b;
}

.month {
    font-family: 'Rethink Sans', sans-serif;
    font-size: 18px;
    color: #71717a;
    padding-top: 10px;
}

.price {
    width: 152px;
    height: 53px;
}

.free-plan-bottom-section {
    padding: 30px 0;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.free-plan-feature {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tick-square {
    width: 24px;
    height: 24px;
}

.free-plan-feature-1 {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    color: #71717a;
}

.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 21px 24px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    cursor: pointer;
}

.get-started-p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #111827;
}

.premium-plan-best-deal {
    background-color: #afd9c3;
    border-radius: 21px;
    padding: 22px 4px 4px;
    gap: 25px;
}

.best-deal-icon,
.best-deal {
    display: flex;
    justify-content: center;
    width: 97px;
    height: 27px;
    gap: 4px;
    margin: 0 auto;
    font-family: 'Rethink Sans', sans-serif;
    font-size: 16px;
    text-wrap: nowrap;
}

.premium-choices {
    display: flex;
}

.hide {
    display: none;
}

.black-bg {
    background-color: #0a0d0b;
}

.white-button {
    display: flex;
    width: 102px;
    height: 35px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 8px 15px;
    gap: 10px;
}

.black-text {
    color: #0a0d0b;
}

.white-text {
    color: #ffffff;
}

.Premium-plan-price {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 224px;
    width: 100%;
}

.Premium-plan-price h3 {
    color: #ffffff;
}

.duration {
    color: #e5e7eb;
}

.pricing-arrow {
    display: none;
}

.m-t {
    margin-top: 4.5rem !important;
}


/* Media Queries */

@media screen and (max-width: 1275px) {
    .free-plan:hover,
    .premium-plan-best-deal:hover {
        transform: none;
    }
    .feature-iphone-16 {
        display: flex;
        flex-direction: row;
        gap: 32px;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        border-radius: 20px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        max-width: 475px;
    }
    .arrow-indicator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 107px;
        margin: 0 auto;
    }
    .indicator {
        display: flex;
        height: 4px;
        max-width: 83px;
        width: 100%;
        gap: 4px;
    }
    .white-indicator {
        width: 25px;
        height: 4px;
        border-radius: 13px;
        background-color: #FFFFFF;
        transition: background-color 0.3s ease;
    }
    .pricing-arrow {
        display: flex;
        justify-content: center;
    }
    .feature-iphone-15::-webkit-scrollbar {
        display: none;
    }
    .subscription {
        display: none;
    }
    .free-plan,
    .premium-plan-best-deal {
        min-width: 350px;
        flex: 0 0 auto;
        scroll-snap-align: start;
    }
    .premium-choices {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hide {
        display: flex;
    }
    .subscription-type {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 150px;
        height: 42px;
        border-radius: 70px;
        padding: 2px;
        background-color: #E6F2DE !important;
    }
    .monthly-subscription,
    .anual-subscription {
        align-items: center;
        gap: 4px;
        max-width: 74px;
        height: 37px;
        border-radius: 70px;
        padding: 8px 20px;
        font-size: 8px;
    }
    .anual-subscription {
        background-color: #E6F2DE !important;
    }
}

@media screen and (max-width: 768px) {
    .subscription-section {
        padding: 0 15px;
    }
    .free-plan {
        max-height: 536px;
        max-width: 328.67px;
    }
    .get-started {
        width: 305px;
    }
    .pricing-arrow {
        margin: 0 auto;
    }
    .free-plan {
        margin: 0 auto;
    }
    .sub-free-plan {
        gap: 0px;
    }
}

@media screen and (max-width: 500px) {
    .free-plan,
    .sub-free-plan,
    .free-plan-top-section,
    .get-started {
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
    }
    .Premium-plan-price {
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
    }
    .Premium-plan-price h3,
    .duration {
        font-size: 32px;
    }
}

@media screen and (max-width: 480px) {
    .premium-plan-best-deal,
    .free-plan {
        width: 100%;
        max-width: 335px !important;
        padding: 12px;
    }
    .sub-free-plan {
        padding: 5px;
    }
    .free-btn {
        max-width: 55px;
        padding: 7px 14px;
    }
    .Organisation-btn {
        max-width: 100px;
        padding: 6px 12px;
    }
    .subscription-section {
        overflow-y: hidden !important;
        width: 100%;
    }
    .Premium-plan-price {
        max-width: 12px !important;
        flex-wrap: nowrap;
        gap: 12px;
        justify-content: space-between;
    }
    .white-button {
        padding: 11px;
        width: 80px;
    }
    .For-occasional {
        text-wrap: wrap !important;
        font-size: 12px;
    }
    .free-plan-middle-section {
        width: 129px !important;
        height: 53px;
    }
    .Premium-plan-price h3,
    .free-plan-middle-section h3,
    .price {
        font-size: 28px;
    }
    .duration,
    .month,
    .free-plan-feature-1,
    .get-started-p,
    .Free,
    .Organisation {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 321px) {
    .subscription-section {
        padding: 0px 96px 0px 96px;
    }
}


}

}