.section-background {
    padding: 80px 78px 80px 0px;
    margin-top: 10%;
}

.design-background {
    display: flex;
    flex-direction: row-reverse !important;
    width: 100%;
}

.phone-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
}

@media screen and (max-width: 1024px) {
    .section-background {
        flex-direction: column;
        padding: 40px 24px;
        margin-top: 0;
    }
    .design-background {
        display: flex;
        flex-direction: column !important;
    }
}

@media screen and (max-width: 1024px) {
    .section-background {
        margin-top: 100px !important;
    }
}