body{
  --button-color: #014220;
  --font-color: #6B7280;
}
header{
  margin-bottom: 1px;
  Padding: 12px 78px 12px 78px;
  Gap: 10px;
}
.nav-list{
  font-family: Raleway;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  Gap: 48px;
  justify-content: space-between;

}
.veil-digits{
  width: 109.25px;
  height: 23.29px;

}