* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}

.hero-section {
  background: linear-gradient(to bottom, #FFFFFF 35%, #3A8E63, #6DB48F);
  width: 100%;
  height: 831px;
}

.section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.top-heroSection {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-top: 47px;
}

.announcing-product-launch {
  background-color: #e6f2de1f;
  border-radius: 10px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.announcing-product-launch .text {
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232620;
}

.hero-text {
  background-color: #E6F2DE;
  border-radius: 10px;
  padding: 10px 24px;
  height: 58px;
  display: flex;
  margin: 0;
  filter: blur(72); /* This seems incorrect; filter: blur(px) should have a value like '4px'. */
}

.users-profile-img {
  width: 128px;
  height: 38px;
}

.veil-your-digits,
.veil-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading-texts {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: center;
  color: #0F281B;
  margin-bottom: 0;
}

.Powerful-self-serve-product {
  font-family: 'Rethink Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #0A351F;
}

.mobile-app-store {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.google-play,
.app-store {
  width: 120px;
  height: 40px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googlePlayLogo {
  width: 23.09px;
  height: 25.72px;
}

.app-store {
  gap: 0.3rem;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  border: 1px solid #000;
}

.appleLogo {
  width: 17.72px;
  height: 21.78px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.app-store-text {
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-top: 5px;
}

.download-on-the,
.app-store-download {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.download-on-the {
  font-size: x-small;
}

.app-store-download {
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.hero-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.desktop-break {
  display: none;
}

/* Responsive */
@media  screen and (max-width: 1027px) {
  .section{
    gap: 1rem !important;
  }
  .mobilePhone{
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .hero-section {
    width: 100%;
    height: auto;
  }

  .section {
    gap: 33.61px;
  }

  .top-heroSection {
    gap: 24.65px;
  }

  .announcing-product-launch {
    max-width: 335px;
    padding: 5px 12px;
    gap: 22.41px;
  }

  .hero-text {
    padding: 6.12px 0 !important;
    border-radius: 6.12px;
  }

  .users-profile-img {
    width: 78.37px;
    height: 23.27px;
  }

  .announcing-product-launch p {
    width: 145px;
    font-size: 8.57px !important;
  }

  .veil-heading {
    width: 100%;
    max-width: 335px;
    gap: 11.2px;
  }

  .heading-texts {
    font-size: 28px !important;
  }

  .Powerful-self-serve-product {
    font-size: 11px;
  }

  .mobile-app-store {
    gap: 4.48px;
  }

  .bottom-hero-section {
    max-width: 320.72px;
    max-height: 333.03px;
  }

  .hero-img,
  .mobilePhone {
    width: 100%;
  }
}
